

#searchbar-wrapper {
  position: absolute;
  background-color: #ffffff;
  border-style: solid;
  border-radius: 5px;
  border-color: #aaaaaa;
  padding: 6px 2px 6px 10px;
  width:430px;
  top: 100px;
  right: 10px;
  float: right;
  opacity: 1;
  z-index: 100;
  font-size: 12px;
  font-weight: bold;
}

.searchbar_buttons {
  height: 30px;
}

.searchbar_input {
  width: 200px;
}

.btn-group button {
margin-top: 2px;
margin-right: 2px;
}